@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font: {
        size: 15px;
        weight: 200;
        family:'Poppins';
    }
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}
h1{
    font: {
        weight: 200;
        size: 1.9em;
    }
    text-align: center;
    span{
        display: block;
    }
    strong{
        font-weight: 600;
    }
}
.subheading{
    text-align: center;
    color: hsl(229, 6%, 66%);
}
.card{
    height: 13.33333333333333em;/* 200px/15px */
    background-color: white;
    border-radius: 5px;
    border-top: 5px solid;
    box-shadow: 0 5px 20px rgba(163, 165, 174, .5) ;
    padding: 0 30px 30px 30px;
    margin-top:2em; /* 30px/15px */
    p{
        color: hsl(229, 6%, 66%);
        margin-top:0;
    }
    h2{
        margin-bottom: .28em;/* 4.2px/15px */
        font-weight: 600;
    }
    &#supervisor{
        border-top-color: hsl(180, 62%, 55%);
    }
    &#team-builder{
        border-top-color: hsl(0, 78%, 62%);
    }
    &#karma{
        border-top-color: hsl(34, 97%, 64%);
    }
    &#calculator{
        border-top-color: hsl(212, 86%, 64%);
    }
    .img-holder{
        display: flex;
        justify-content: flex-end;
    }
}
.attribution{
    font-size: 11px;
    text-align: center;

    a{
        color: hsl(228, 45%, 44%);
    }
}